#*.iml
#.gradle
#/local.properties
#/.idea/workspace.xml
#/.idea/libraries
#.DS_Store
#/build
#/captures
#.externalNativeBuild

.gradle
.idea
build
gradle
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle
TeaBaike.iml
.DS_Store